<div class="centering-div">
  <form class="example-form">

    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Lobby name</mat-label>
      <input matInput placeholder="Ex. SmallGroup31!73" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Ex. Pizza" type="password">
    </mat-form-field>

  </form>
</div>

