<div class="input-form">
  <div class="input-username">
    <input id="username-input" class="user-input-box" placeholder="username" (keydown.enter)="submit($event)">
  </div>
  <div class="input-lobby-name lobby-div">
    <input id="lobby-name" class="user-input-box" placeholder="lobby" (keydown.enter)="submit($event)">
  </div>
  <div class="input-password lobby-div">
    <input id="lobby-password" class="user-input-box" placeholder="password" (keydown.enter)="submit($event)" type="password">
  </div>
</div>
